body {
  text-align: center;
}
.template {
  text-align: center;
  color: #4169E1;
}

.comp {
  text-align: center;
  color: #4169E1;
  padding-bottom: 1cm;
}

.comments {
  text-align: center;
  color: #4169E1;
  padding-bottom: 1cm;
}