body {
  padding-top: 50px;
  text-align: center;
}
.template {
  padding: 40px 15px;
  text-align: center;
  color: #FF6347;
}

.comp {
  padding: 40px 15px;
  text-align: center;
  color: #FF6347;
}


